body {
    color: white;
    background: rgb(73, 72, 72);
}
header {
    border-bottom: solid 2px rgb(244, 246, 250);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
section {
    background: rgb(165, 95, 95);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}